.my-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .my-form{
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }